.about-section {
  margin: 0 auto;
  width: 75%;
    /* display: flex; */
    /* justify-content: space-between; */
  padding: 10rem 10rem 10rem 10rem;
}

.about-description {
  font-size: 2.3rem;
}

@media (max-width: 1000px) {
  .about-section {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
  }

  .about-description {
    max-width: 100%;
    padding-bottom: 10rem;
    font-size: 4rem;
  }
}
