.about-section {
  margin: 0 auto;
  width: 75%;
  padding: 4rem 8rem;
  text-align: center;
}

.about-section h2 {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.about-description {
  font-size: 2.3rem;
}

@media (max-width: 1000px) {
  .about-section h2 {
    padding-bottom: 8rem;
    text-align: center;
    font-size: 10rem;
  }

  .about-section {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
    width: 100%;
    text-align: justify;
  }

  .about-description {
    max-width: 100%;
    padding-bottom: 10rem;
    font-size: 4rem;
  }
}
