.about-wrapper {
  background-color: #e7ecff;
}

.about-section {
  padding: 15rem 0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.about-section h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.about-description {
  font-size: 2.3rem;
}

@media (max-width: 1000px) {
  .about-section h2 {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 8rem;
  }

  .about-section {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
    width: 100%;
    text-align: justify;
  }

  .about-description {
    max-width: 100%;
    padding-bottom: 10rem;
    font-size: 2rem;
  }
}
