form h2 {
  font-size: 3rem;
}

form p {
  font-size: 2rem;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 2rem;
}

.require {
  color: red;
}

input,
textarea {
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
}

.submit-button {
  padding: 14px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #ffcf3f;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.submit-button:hover {
  transform: scale(1.02);
}

@media (max-width: 1000px) {
  .contact-form {
    max-width: 90%;
  }

  form h2 {
    font-size: 7rem;
    text-align: center;
  }

  .form-group label {
    font-size: 5rem;
  }

  .form-subtitle {
    font-size: 5rem;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 7rem;
  }

  input,
  textarea {
    font-size: 3.5rem;
    padding: 10px;
  }

  .submit-button {
    width: 100%;
    padding: 2rem;
    font-size: 4rem;
  }
}

