* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  background-color: #fff;
  color: #000;
}

:root {
  --primary-bg-color: #1b7b8914
}

.header_header,
.header_left,
.header_main,
.content-wrapper,
.content,
.svg {
  display: flex;
}

header-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
}

menu-wrapper {
  display: none;
  position: fixed;
  z-index: 99;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 5rem;
  color: #959595;
  background: #000000d9;
  backdrop-filter: blur(9px);
}

menu-wrapper .top-popup-menu {
  display: flex;
  justify-content: space-between;
  padding: 10rem 10rem;
  background-color: #101010;
}

menu-wrapper .popup-menu-options {
  font-size: 8rem;
}

menu-wrapper ul li {
  padding: 8rem 0 0 10rem;
  list-style: none;
  color: #ffffff75
}

.popup-menu-options {
  padding-bottom: 20rem;
}

.popup-menu-options a {
  text-decoration: none; 
  color: white;
}

.header_header {
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 4rem;
  background-color: #1e454921;
  backdrop-filter: blur(5px);
}

.header_left {
  gap: 7rem;
  align-items: center;
}

.header_left a {
  color: #000;
  text-decoration: none;
}

.header_main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_main a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.header_main a span {
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 1rem;
}

.header_main a span:hover {
  background-color: #dddddd;
}

.navigation-menu {
  display: flex;
  gap: 3rem;
}

.navigation-menu li {
  list-style-type: none;
  cursor: pointer;
  font-size: larger;
}

/* Content */
.under-construction {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  top: 9rem;
  color: #ffcf3f;
}

.content-wrapper {
  justify-content: center;
  min-height: 80rem;
}

.main_main {
  position: relative;
  min-height: 70rem;
}

.content-bg {
  background: repeating-linear-gradient(288deg, #1b7b8914, #8b8b8b 1px, #fff0 0.2rem, #fff0 0.7rem);
  --mask: linear-gradient(0deg,#000 0%,rgba(0,0,0,.3) 60%,transparent);
  -webkit-mask-image: var(--mask);
  height: 100%;
  width: 100%;
  position: absolute;
}

.content {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10rem;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.content h1 {
  font-size: 4rem;
  color: #5b5b5b;
}

.content p {
  width: 40rem;
  font-size: 2rem;
  text-align: center;
  color: #7f7f7f;
  padding-top: 2rem;
  line-height: 3rem;
}

.svg {
  justify-content: center;
  margin-top: 20rem;
  z-index: 1;
  position: relative;
}

/* Divisor */
.divisor {
  height: 1rem;
  margin: 0 auto;
  background-color: #1e454921;
}

/* Content 2 */
.content-2 {
  width: 80%;
  margin: 0 auto;
}

.content-2 section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
  grid-auto-rows: minmax(80px, auto);
  height: 100%;
}

.last-child {
  border: none !important;
}

.content-2-lines {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
}

.content-2-lines h2 {
  font-size: 2.5rem;
  width: 90%;
}

.content-2-lines ul {
  padding-top: 3rem;
  font-size: 1.6rem;
}

.content-2-lines ul li {
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.content-2-ul-wrapper {
  width: 70%;
}

.content-2-ul-wrapper li {
  list-style-type: none;
}

/* Here starts footer */
.connect-with-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
}

.connect-with-us h2 {
  font-size: 2.5rem;
  width: 90%;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media a {
  text-align: center;
  align-content: center;
}

.social-media a svg {
  width: 4rem;
}

.linkedin-icon {
  width: 3rem !important;
}

.rights-reserved {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  color: black;
  background-color: #1e454921;
}

/* Media queries */
@media (max-width: 1000px) {
  .header_header {
    display: none;
  }

  .hidden_header {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 4rem;
    background-color: #1b7b8914;
    backdrop-filter: blur(6px);

  }

  .hidden_header a {
    color: black;
    text-decoration: none;
  }
  
  .header_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 10rem;
    height: 10rem;
    border: 1px solid #646464;
    border-radius: 50%;
    cursor: pointer;
  }

  .lines {
    max-width: 7rem;
    height: 0.2rem;
    background-color: #777;
    position: relative;
    left: 1.5rem;
  }

  .main_main {
    min-height: 100rem;
  }
  
  .under-construction {
    top: 10rem;
    font-size: 4.5rem;
  }

  .content-wrapper {
  }

  .content h1 {
    font-size: 6rem;
  }

  .content p {
    width: 90rem;
    font-size: 4rem;
    padding-top: 6rem;
    line-height: 5rem;
  }

  .content-2 {
    width: 90%
  }

  footer {
    padding-top: 10rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer h2 {
    font-size: 3rem;
  }
  
  .linkedin-icon {
    width: 6.5rem !important;
  }

  .rights-reserved {
    width: 100%;
    font-size: 2.6rem;
  }

  .social-media a svg {
    width: 9rem;
  }
  
  .content-bg {
  }

  .content-2 section {
    display: block;
  }

  .content-2-lines {
    padding-bottom: 0;
  }

  .content-2-lines h2 {
    font-size: 4rem;
  }

  .content-2-lines ul {
    font-size: 3rem;
    padding-top: 5rem;
  }

  .content-2-lines ul li {
    line-height: 3.5rem;
    letter-spacing: 1px;
  }

  .content-2-ul-wrapper {
    width: 85%;
  }

  .connect-with-us {
    width: 100%;
    padding-top: 10rem;
  }
}

@media (min-width: 1000px) {
  .hidden_header {
    display: none;
  }
}
